<html ng-app="<%= name %>">
    <head>
        <link href="/lib/css/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <script src="/lib/js/angular/angular.min.js"></script>
        <script src="/lib/js/angular/angular-route.min.js"></script>
        <script src="/wam/app.js"></script>

<% for (var entityName in entities) {
 %>
        <script src="/wam/<%= entityName %>/controllers/list/<%= entityName %>-list.controller.client.js"></script>
        <script src="/wam/<%= entityName %>/controllers/edit/<%= entityName %>-list.controller.client.js"></script>

<% }
 %>

    </head>

    <body>
        <h1>Hello from index</h1>
        <div ng-view></div>
    </body>
</html>
